<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
{#<link rel="apple-touch-icon-precomposed" href="http://www.17sucai.com/static/images/favicon.ico">#}
<script>
var logined = 0
</script>
<title>老司机专车</title>
</head>

<body>
	<div id="header" class="head">
		<div class="wrap">
			<!-- <i class="menu_back"><a href="index.html"></a></i> -->
			<div class="title">
				<span class="title_d"><p>{{ v2.name }}</p></span>
				<div class="clear"></div>
			</div>
			<!-- <i class="menu_share"></i> -->
		</div>
	</div>
	
	<div id="container">
				
				<div class="pd5">
						<div class="clear"></div>
						<div class="article_ct">
						<p><img src=http://fm.shiyunjj.com/2018/1361/1i64.jpg /></p>
						</div>
						<div class="comment_other">
							<span class="title_d">
								<form action="/index/" method="post">
									<input type="submit" value="下一页" />
								</form>
							</span>
						<div class="clear"></div>
                        </div>
				</div>
	<script language="javascript" src="/static/js/zepto.min.js"></script>
	<script language="javascript" src="/static/js/fx.js"></script>
	<script language="javascript" src="/static/js/script.js"></script>

</body>
</html>